<!-- Incluir o Head -->
<%- include('./partials/head') %>

  <body>

    <!-- Menu -->
    <%- include('./partials/navbar') %>

    <% if (typeof aviso !== 'undefined') { %>
      <% var titulo = "Alterar Aviso" %>
      <% var rota = "/notice/editar/"+aviso.ID_avisos %>
    <% } else { %>
      <% var titulo = "Novo Aviso" %>
      <% var rota = "/notice/new" %>
    <% } %>
    
    <div class="container">

      <br><br>
        
      <a href="#"><span class="material-icons">
        reply
        </span>  Voltar</a> <br> <br>

      <% if (typeof msg !== 'undefined') { %>
        <% if (msg.tipo === 'Sucesso') { %>
          <div class="alert alert-success alert-dismissible fade show p-4" role="alert">
            <strong><span class="material-icons">
              task_alt
              </span></i> Sucesso!</strong>
            <%= msg.corpo %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% } %>
        <!-- Fim do if sucesso -->
        <% if (msg.tipo === 'Erro') { %>
          <div class="alert alert-danger alert-dismissible fade show p-4" role="alert">
            <strong><span class="material-icons">
              error
              </span> Erro! </strong>
            <%= msg.corpo %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
        <% } %>
        <!-- Fim do if erro -->
        <% } %>
        <!-- Fim do if typeof -->
  

        <div class="card shadow">
            <div class="card-header bg-blue text-white pl-5 p-4">
              <h2><span class="material-icons">
                add_alert
                </span>   <%= titulo %> </h2>
            </div><!-- Card Header -->
            <div class="card-body p-5">
              <form action="<%= rota %>" method="POST">
                <% if (typeof aviso !== 'undefined') { %>
                  <div class="form-group">
                    <label for="titulo">ID do Aviso</label> 
                    <input id="id" name="id" type="text" class="form-control" required value="<%= aviso.ID_avisos %>" readonly>
                  </div>
                <% } %>
                
                <div class="form-group">
                  <label for="titulo">Titulo do Aviso</label> 
                  <input id="titulo" name="titulo" type="text" class="form-control" required value="<%= typeof aviso != 'undefined' ? aviso.titulo : null%>" placeholder="Insira o título do Aviso">
                </div>
                <div class="form-group">
                  <label for="data">Data</label> 
                  <input id="data" name="data" type="date" class="form-control" value="<%= typeof aviso != 'undefined' ? moment(aviso.data).format('YYYY-MM-DD') : null%>">
                </div>
                <div class="form-group">
                  <label for="mensagem">Mensagem</label> 
                  <textarea id="mensagem" name="mensagem" cols="40" rows="5" class="form-control" required placeholder="Insira os detalhes do Aviso"><%= typeof aviso != 'undefined' ? aviso.mensagem : null%></textarea>
                </div> 
                <div class="form-group">
                  <button name="submit" type="submit" class="btn btn-primary"><%= typeof aviso != 'undefined' ? "Alterar" : "Cadastrar" %></button>
                  <button name="submit" type="submit" class="btn btn-secundary">Limpar</button>
                  
                </div>
              </form>
            </div><!-- Card Body -->
        </div><!-- Card -->

 

    </div><!-- Container -->
    

      <!-- Incluir os Scripts do Bootstrap-->
      <%- include('./partials/scripts_import') %>    
  </body>
</html>
