<!-- Incluir o Head -->
<%- include('./partials/head') %>

  <body>

    <!-- Menu -->
    <%- include('./partials/navbar') %>
    
    <div class="container">

      <br><br>
        
      <a href="#"><span class="material-icons">
        reply
        </span>  Voltar</a> <br> <br>
  

        <div class="card shadow">
            <div class="card-header bg-blue text-white pl-5 p-4">
              <h2 class="float-left"><span class="material-icons">
                announcement
                </span>   Avisos Cadastrados</h2>
                <a href="/notice/new" class="btn btn-lg btn-dark float-right"><span class="material-icons">
                  add_alert
                  </span>Novo Aviso</a>
            </div><!-- Card Header -->
            <div class="card-body p-5">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Título</th>
                    <th scope="col">Data</th>
                    <th scope="col">Ação</th>
                  </tr>
                </thead>
                <tbody>

                  <% if (avisos.length < 1  ) { %>
                      <tr>
                        <td colspan="5" class="text-center">Nenhum aviso cadastrado!</td>
                      </tr> 
                  <% } %>

                  <% avisos.forEach(aviso => { %>
                   
                    <tr>
                      <th scope="row"> <%= aviso.ID_avisos %> </th>
                      <td><%= aviso.titulo %></td>
                      <td><%= moment(aviso.data).format("DD/MM/YYYY") %></td>
                      <td>
                        <button class="btn btn-primary">Alterar</button>
                        <button class="btn btn-secondary" data-toggle="modal" data-target="#excluirModal" onClick="excluir(event,'<%= aviso.ID_avisos %>')">Excluir</button>
                      </td>
                    </tr>

                  <% }) %>

                </tbody>
              </table>
            </div><!-- Card Body -->
        </div><!-- Card -->

    </div><!-- Container -->   
    
    <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="excluirModal" tabindex="-1" aria-labelledby="excluirModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deseja realmente excluir esse aviso?</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Título</th>
              <th scope="col">Data</th>
            </tr>
          </thead>
          <tbody>
            <tr id="modal-tr-body">
              <td scope="col">ID</td>
              <td scope="col">Título</td>
              <td scope="col">Data</td>
            </tr>
          </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <form id="form-excluir" method="GET">
        <button type="submit" class="btn btn-primary">Sim</button>
        </form>
      </div>
    </div>
  </div>
</div>

      <!-- Incluir os Scripts do Bootstrap-->
      <%- include('./partials/scripts_import') %>
      
      <!-- Nosso Script-->
      <script>
        function excluir(event,id){
          var tdBotoes = event.target.parentElement
          var trAviso = tdBotoes.parentElement
          var trModal = document.getElementById("modal-tr-body")

          var formExcluir = document.getElementById("form-excluir")
          formExcluir.action = "notices/excluir/"+id

          trModal.innerHTML = trAviso.innerHTML
          trModal.removeChild(trModal.lastElementChild)
        }
      </script>

  </body>
</html>
